<section id="experience">
    <div class="container">
      <h2>Experience</h2>
      <ul>
        <li>
          <div class="company">
            <h3>Aimdek Technologies Pvt. Ltd.</h3>
            <p class="date">January 2020 - October 2022</p>
          </div>
          <div class="job">
            <h4>Software Engineer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt euismod nisl, et commodo velit. Integer sit amet dolor eget quam sagittis lobortis quis eu arcu.</p>
          </div>
        </li>
        <li>
          <div class="company">
            <h3>Online Psb Loans Ltd.</h3>
            <p class="date">October 2022 - April 2023</p>
          </div>
          <div class="job">
            <h4>Software Engineer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt euismod nisl, et commodo velit. Integer sit amet dolor eget quam sagittis lobortis quis eu arcu.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  