#experience {
  background: linear-gradient(90deg, rgba(250,144,72,1) 21%, rgba(236,106,88,1) 100%);
    padding: 80px 0;
  }

  .container {
    -webkit-text-fill-color: aliceblue;
  }
  
  #experience h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  #experience .experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  
  #experience .experience-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
  }
  
  #experience .experience-item h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  #experience .experience-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
  }
  
  #experience .experience-item .date {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #63c2de;
  }
  