<section id="experience">
    <div class="container">
      <h2>Experience</h2>
      <ul>
        <li>
          <div class="company">
            <h3>Acme Corporation</h3>
            <p class="date">June 2021 - Present</p>
          </div>
          <div class="job">
            <h4>Software Engineer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt euismod nisl, et commodo velit. Integer sit amet dolor eget quam sagittis lobortis quis eu arcu.</p>
          </div>
        </li>
        <li>
          <div class="company">
            <h3>Widget Inc.</h3>
            <p class="date">January 2019 - May 2021</p>
          </div>
          <div class="job">
            <h4>Web Developer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt euismod nisl, et commodo velit. Integer sit amet dolor eget quam sagittis lobortis quis eu arcu.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  