<section id="projects">
    <div class="container">
      <h2>Projects</h2>
      <div class="project">
        <img src="assets/images/project1.jpg" alt="Project 1">
        <h3>Project 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dapibus ex. Duis ac eros vel quam faucibus bibendum. Fusce pulvinar nibh nec nunc ullamcorper pharetra.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
      <div class="project">
        <img src="assets/images/project2.jpg" alt="Project 2">
        <h3>Project 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dapibus ex. Duis ac eros vel quam faucibus bibendum. Fusce pulvinar nibh nec nunc ullamcorper pharetra.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
      <div class="project">
        <img src="assets/images/project3.jpg" alt="Project 3">
        <h3>Project 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dapibus ex. Duis ac eros vel quam faucibus bibendum. Fusce pulvinar nibh nec nunc ullamcorper pharetra.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
  </section>
  
       
