#projects {
  background: linear-gradient(90deg, rgba(21,20,28,1) 78%, rgba(0,0,0,1) 100%);
    padding: 80px 0;
  }
  
  #projects h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  #projects .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
  }

  .container {
    -webkit-text-fill-color: aliceblue;
  }
  
  #projects .project img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #projects .project h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  #projects .project p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    max-width: 600px;
  }
  
  #projects .project .btn {
    background-color: #63c2de;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #projects .project .btn:hover {
    background-color: #4299a1;
  }
  